src/1-3.mp4
src/4.mp4
src/5.mp4
src/6.mp4
src/7.mp4
src/8.mp4
src/9.mp4
src/10.mp4
src/11.mp4
src/12.mp4
src/13.mp4
.env
sub_process.py
logs/
logs/2024-12-12.log
logs/ranks.json
logs/2024-12-12.log
mygo-bot/
logs/
logs/ranks.json
